main{
    background: url("../images/logo.png");
    background-repeat: repeat 50 50;
    background-size: 50vh;
    min-height: 100vh;
}
div#main, body{
    min-height: 100vh;
    background: radial-gradient(circle, rgba(249, 247, 247, 0.2), rgba(170, 169, 189, 0.2));
}
div.header{
background-color: rgb(45, 45, 45);
border: none;
}
div.body{
    background-color: white;
}
h4.signup_heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button.btn{
    background-color: rgb(81, 81, 82);
}
label{
    color: gray;
}
div.header, div.body{
    border-radius: 15px;
}